@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);

:root {
  --background: #292524;
  --foreground: #ededed;
  --swiper-navigation-color: #ca3500;
  --swiper-pagination-color: #ca3500;
}

@theme {
  --text-shadow-xl: 5px 3px 3px rgb(253, 199, 0 / 0.25); 
}

html {
  scroll-behavior: smooth;
}

#hot-menu, #schedule, #about {
  scroll-margin-top: 205px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-headline {
  font-family: var(--font-headline);
}

.text-flame {
  text-shadow:
  0 3px 20px red,
  0 0 30px red,
  0 0 10px orange,
  0 0 5px yellow
}

.img-wrapper img {
  margin: auto;
}

.modal .img-wrapper img {
  margin: 0;
  border-radius: 100%;
  border: 4px solid black;
}

.hot-menu-card {
  white-space: pre-wrap;
}

.hot-menu-card .img-wrapper {
  display: grid;
  justify-items: left;
  align-items: end;
  height: 230px;
  padding: 0 2rem 3rem;
}

.hot-menu-card .img-wrapper > img {
  width: auto;
  transform: scale(1.4);
  margin: 0;
}

.truck-logo .img-wrapper img {
  border-radius: 100%;
}

.slide-one {
  background-image: url('/images/slides/hero-bg-1.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 550px;
  max-height: 100%;
}

@media only screen and (width <= 855px) {    
  .food-truck-section h2 {
    margin-left: 0px;
  }
}

@media only screen and (width <= 767px) { 
  .hot-menu-card .img-wrapper {
    justify-items: center;
    height: auto;
  }

  .food-truck-section h2 {
    margin-left: 0px;
  }
}
