@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);

:root {
  --background: #292524;
  --foreground: #ededed;
}

@theme {
  --text-shadow-xl: 5px 3px 3px rgb(253, 199, 0 / 0.25); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-headline {
  font-family: var(--font-headline);
}

.text-flame {
  text-shadow:
  0 3px 20px red,
  0 0 30px red,
  0 0 10px orange,
  0 0 5px yellow
}

.img-wrapper img {
  margin: auto;
}

.modal .img-wrapper img {
  margin: 0;
  border-radius: 100%;
  border: 4px solid black;
}

.hot-menu-card {
  min-height: 300px;
}

.hot-menu-card .img-wrapper {
  height: 300px;
  grid-template-rows: 300px 1fr;
  display: inline-flex;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.hot-menu-card .img-wrapper > img {
  /* Override Next.js Image component styles */
  max-width: auto;
  height: auto;
  /* Ensure the image maintains its aspect ratio and fits within the container */
  max-height: auto;
  width: 50%;
  margin: 0;
}

.truck-logo .img-wrapper img {
  border-radius: 100%;
}

/* Adjust the width of the h3 element in the second card to prevent text overflow */
.hot-menu-grid:nth-child(2) h3 {
  width: 100%;
  margin: 0;
}


/* Medium devices (handheld, 900px and down) */
 @media only screen and (width <= 900px) {  
  .hot-menu-card {
    min-height: 250px;
  }

  .hot-menu-card .img-wrapper {
    height: 250px;
    grid-template-rows: 250px 1fr;
    display: inline-flex;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  /* Adjust the width of the h3 element in the second card to prevent text overflow */
  .hot-menu-grid:nth-child(2) h3 {
    width: 100%;
    margin: 0;
  }
}

/* Extra small devices (phones, 600px and down) */
 @media only screen and (width <= 600px) {  
  .hot-menu-card {
    min-height: auto;
  }

  .hot-menu-card .img-wrapper {
    height: auto;
    grid-template-rows: auto 1fr;
    place-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  /* Adjust the width of the h3 element in the second card to prevent text overflow */
  .hot-menu-grid:nth-child(2) h3 {
    width: 220px !important;
    margin: auto !important;
  }
}
